* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 974px;
  top: 170px;
  left: 140px;
}